.auto*
CopyNumberOverview.pdf
test.*
debug.*
tmp.*
*.aux
*.dvi
cnvignette.org
test/*
*.o
*.so
myCrlmmGT2.Rnw
ffobjs*
auto*
ModelForPolymorphicX.pdf
.Rhistory
*.tex
illumina_copynumber-*
Makefile2
Rprof*
testing*
sample.CNSetLMff.rda
extdata*
copynumber-*
copynumber.log
*.log
*.png
*~
relocating*
push
pull
copynumber.R
runcopynumber.R
runillumina.R
inst/scripts/SmoothingRawCN.pdf
inst/scripts/test
.gitignore
AffyGW-snr.pdf
AffyGW.R
IlluminaPreprocessCN-snr.pdf
IlluminaPreprocessCN.bbl
IlluminaPreprocessCN.blg
gender.R
runAffy.R.sh
runIlluminaPreprocessCN.R.sh
preproc_debug.R
rowMediansByGenotype.c
SimpleUsage.R
copynumber.pdf
crlmmDownstream.Rnw
